<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact App</title>
    <link rel="stylesheet" href="/static/site.css">
    <link rel="stylesheet" href="/static/missing.css">
    <script src="/static/js/htmx-1.8.0.js"></script>
    <script src="/static/js/_hyperscript-0.9.7.js"></script>
</head>
<body hx-boost="true">
<main>
    <header>
        <h1>
            <all-caps>JSON/HTML Speed Comparison</all-caps>
            <sub-title>A Comparison Between Response Encodings</sub-title>
        </h1>
    </header>
    {% block content %}{% endblock %}
</main>
</body>
</html>